<form method="post" action="{{ path('user_pessoa_delete_admin', {'id': user_pessoa.id}) }}" onsubmit="return confirm('Deseja realmente exlcuir?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_pessoa.id) }}">
    <button class="btn btn-outline-danger btn-sm float-right mb-2"><i class="fa fa-trash"></i> Delete</button>
</form>
