{% extends 'base.html.twig' %}

{% block title %}New Cidadao{% endblock %}

{% block body %}
    <h1>Create new Cidadao</h1>

    {{ include('cidadao/_form.html.twig') }}

    <a href="{{ path('cidadao_index') }}">back to list</a>
{% endblock %}
